.whole {
  max-width: 415px;
  width: 100%;
  margin: 15px auto;
  background-color: aliceblue;
}

img {
  max-width: 415px;
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  font-family: Young serif;
  font-weight: 400;
}

.prep {
  background-color: hsl(330, 100%, 98%);
}

.purple {
  color: hsl(332, 51%, 32%);
  font-family: Young serif;
  font-weight: 400;
}

h2 {
  font-family: Young serif;
  color: hsl(14, 45%, 36%);
  font-weight: 400;
}

p,
li {
  font-family: Outfit;
  font-family: 400;
  font-size: 16px;
}

table {
  width: 100%;
  border-bottom: 1px solid hsl(30, 18%, 87%);
  border-collapse: collapse;
  padding: 5px;
}

th,
td {
  border-bottom: 1px solid hsl(30, 18%, 87%);
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .pink {
    width: 100%;
    background-color: pink;
  }

  .whole {
    min-width: 650px;
    width: 100%;
    margin: 0;
  }

  img {
    max-width: 768px;
    width: 100%;
    border-radius: 10px;
    margin: 15px auto;
  }
}

