/* Any comment yoUu see means that i have to work on that area, I don't really get it*/

img {                    
  width: 100%;
  height: auto;
  display: block;
}   /*Honestly I had to search and copy and paste to make the image remain the same on all devices*/

div {
  background-color: rgb(255, 255, 221);
}

.prep {
  color: hsl(332, 51%, 32%);
  font-family: Trebuchet MS;
}

ul, ol, li, p {
  font-family: Outfit; 
}

h1,h2 {
  font-family: Young serif;
  color: hsl(14, 45%, 36%);
}

tr, td {
  border-top: 1.9px solid #ddd;
  padding: 8px;
  font-family: Outfit;
}


tr:first-child,
tr:first-child td,
tr:first-child th {
  border-top: none;
} /* Searched for this to remove the extra line on top of the table*/



strong {
  color: hsl(14, 45%, 36%)
}

table {
   width: 55%;
   border-collapse:collapse;
}